.sidebar {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 100px);
    min-width: 200px;
}

.undealtDecks {
    height: 50px;
}

.games-title {
    justify-content: center;
    min-height: 10px;
    background-color: var(--primary-color-dark);
}

.game {
    margin-left: 5px;
}

#modal form .field {
	display: flex;
}