.players-wrapper {
    display: flex;
    flex-direction: row;
}

.players-summary {
    display: flex;
    flex-direction: column;
    max-height: calc(250px);
    overflow: auto;
}

.players-grid {
    padding: 10px;
}

.player-cards {
    display: flex;
    flex-direction: column;
}

.cards-summary{
    display: flex;
    flex-direction: row;
    max-width: 100vh;
    overflow: auto;
}