:root {
    --primary-color-clear: #02af8f;
    --primary-color: #005848;
    --primary-color-dark: #012921;
    --secondary-color: #274742;
    --title-color: #000000;
    --text-color: #ffffff;
  }
  
body{
    background-color: var(--primary-color-dark);
    margin: 0px;
    height: 100vh;
    color: var(--text-color);
}

.shoe-and-players-empty {
  width: 1620px;
  display: flex;
  justify-content: center;
}

.warning {
  padding-left: 20px;
}